################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/qqQunUnitTest/bin/Debug
/qqQunUnitTest/obj
/qqQunSupport/bin/Debug
/qqQunSupport/obj
/qqQunSearch_CLI/bin/Debug
/qqQunSearch_CLI/obj/Debug
/qqQunSearch_CLI/obj/Release
/packages
/.vs
